.titulo1
{
    background-color: rgb(121, 23, 23);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}
.titulo2
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue';
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.contenedor
{
    display: flex;
    justify-content: center;
}
button
{
    background-color: cadetblue;
    color: blanchedalmond;
}
th
{
    background-color: rgb(121, 23, 23);
    font-family: 'Times New Roman', Times, serif;
}
td
{
    color: red;
    background-color: rgb(83, 68, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*.table
{
   border-collapse: collapse;
}*/
caption
{
    font-family: 'Trebuchet MS';
}
td:hover
{
    color: rgb(220, 167, 20);
}